<li class="third_block_li">
  <div class="third_block_parntners_link">
    <%= image_tag 'footer_slider_logo_frame.png', :class => 'third_block_logo_border', alt: partner.url %>
    <%= image_tag partner.logo.thumb.url, :class => 'third_block_rounded_slider_logo', alt: partner.url %>
  </div>
</li>