<footer class="footer">
  <div class="footer-inner row-fluid">
    <div class="span4">
      <%= render 'shared/footer/about' %>
    </div>
    <div class="span4">
      <%= render 'shared/footer/links' %>
    </div>
    <div class="span4">
      <%= render 'shared/footer/contacts' %>
    </div>
  </div>
</footer>