<li class="menu_list_item">
  <%= link_to slug_path(page), :class => 'menu_list_anchor' do %>
    <span class="anchor_left"><%= page.name %></span>
    <span class="anchor_right">&nbsp;</span>
  <% end %>
  <% if page.children.any? %>
    <div class="submenu">
      <ul class="nested_links hiddemenu_list_itemn hidden">
        <%= image_tag "submenu_arrow.png", :class => 'submenu_arrow' %>
        <% page.children.each do |child| %>
          <li>
            <%= link_to content_tag(:span, child.name), slug_path(child) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</li>