<div class="wrapper">
  <div class="row-fluid content second_block_non_index">
    <div class="second_block_non_index_content">
      <h1><%= raw @page.name %></h1>
      <%= raw @page.content %>
    </div>
  </div>
</div>

