<h2 class="footer-h2"><%= link_to 'О нас', slug_path('about') %></h2>
<ul class="footer-ul">
  <li class="footer-li">- Быстро</li>
  <li class="footer-li">- Просто</li>
  <li class="footer-li">- Прозрачные условия</li>
  <li class="footer-li">- Без скрытых комиссий</li>
  <li class="footer-li">- Индивидуальный подход</li>
  <li class="footer-li">- Удобное погашение.</li>
  <li class="footer-li">- Формируем для вас положительную кредитную историю</li>
  <li class="footer-li">- Широкий спектр сопутствующих услуг</li>
</ul>