<h2 class="footer-h2">Контактные данные</h2>
<ul class="footer-ul footer-last">
  <li class="footer-li">
    <i class="footer-address">&nbsp;</i>
    236020, г. Калининград, ул. Университетская 14
  </li>
  <li class="footer-li"><i class="footer-phone">&nbsp;</i>+7 (4012) 602-000</li>
  <li class="footer-li"><i class="footer-email">&nbsp;</i>info@гинея.рф </li>
  <li class="footer-li">
    <%= link_to '&nbsp;'.html_safe, '#', :class => 'footer-vk' %>
    <%= link_to '&nbsp;'.html_safe, '#', :class => 'footer-fb' %>
  </li>
</ul>