<div class="da-slide">
  <p class="slider_paragraph_first">
    <span class="paragraph_white">
      <%= raw banner.paragraph(0) %>
    </span>
  </p>

  <p class="slider_paragraph_second">
    <span class="paragraph_white">
      <%= raw banner.paragraph(1) %>
    </span>
  </p>

  <p class="slider_paragraph_third">
    <span class="paragraph_white">
      <%= raw banner.paragraph(2) %>
    </span>
  </p>
  <%= link_to 'подробнее', banner.url, :class => 'da-link' %>
</div>